---

---
<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Adium|Night Mode</title>
        {% include head.html %}
    </head>
    <body id="projects">
		{% include navigation.html %}
		<main>
			<div class="content-wrap">
                <div class="centering">
                    <h1>Adium|Night Mode</h1>
                    <br>
                    <h4>
                    <a href="https://github.com/Carson-Shook/Adium-Theme-Night-Mode/archive/master.zip" download><span class="button">Download zip</span></a>
                    </h4>
                    <br>
                    <p>Night Mode is a theme for Adium that more or less fits in with the dark menubar introduced in recent versions of MacOS. It supports retina Macs (in theory) as well.</p>
                    <h2>How To Install It</h2>
                    <ol class="leftalign">
                        <li>Download it, and double-click on Night Mode.AdiumMenuBarIcons.</li>
                        <li>Open Adium's Preferences > Appearance and change Menu Bar Icons to Night Mode</li>
                        <li>That's it. If you want to uninstall it, then use Adium's Xtras Manager.</li>
                    </ol>
                    <br><br>
                </div>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>
